.root {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.field {
    border: 1px dashed black;
    display: inline-block;
}

.controls {
    width: 300px;
    display: inline-block;
    margin-left: 20px;
}